* {
  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


html {
  font-size: 16px;
  color: #333333;
}

header, main, footer {
  background-color: #EEEEEE;
}


body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 20px 0;
}

header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

#figure {
  background-color: #EEEEEE;
  padding: 0 15px;
}
#figure figure {
  background-color: white;
  text-align: center;
  margin: 0;
  padding-bottom: 15px;
  max-width: 100%;

  #image {
    text-align: center;
    vertical-align: middle;
    max-width: 98%;
    height: 50%;
  }
}

#figure figure figcaption {
  margin-top: 15px;
}

section{
  margin: 0 auto;
  max-width: 80%;
  width: 560px;
  /* For spaces between each line of text*/
  line-height: 26px;
}

ul span {
  font-weight: bold;
}

ul li {
  margin: 20px 0;
}


blockquote {
  margin-top: 40px;
  margin-bottom: 0;
  width: 100%;
}

#quote {
  font-style: italic;

  p, footer {
    margin-left: -10px;
  }
}

#footer {
  padding: 50px 10px 30px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  width: inherit;
  line-height: 26px;
}





